.node {
  border: solid 1px white;
  font: 15px sans-serif;
  color: #fff;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  text-indent: 2px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}